/*

body{ 
	width:100%;
	margin:100px auto;
	overflow: hidden;
}
svg text{
	font-size:8pt;
}
rect{
	shape-rendering:crispEdges;
}

.brush .extent {
  fill-opacity: .1;
  stroke: #fff;
  shape-rendering: crispEdges;
}
*/
body {
/*	width:100%;
	height:100%; */
//	overflow: hidden;
	font-family: "Verdana", Verdana, sans-serif;
    font-size:12px;
}

body.svgBody {
	overflow: hidden;
}

.node circle {
   cursor: pointer;
   fill: #fff;
   stroke: grey;
   stroke-width: 1.5px;
}
.node rect {
   cursor: pointer;
}
.node text {
   font-size: 11px;
}
.edge {
	cursor: pointer;
} 
.mainbars {
	cursor: pointer;
}
path.link {
   fill: none;
   stroke: #ccc;
   stroke-width: 1.5px;
}

/*.svg_pattern {
    display:inline-block;
    width: 30%;
    padding: 10px;
    background-color: "yellow";
    border: 1px solid #ddd;
 }
*/
.error {
	background-color="FF0000";
}
.crosshatch {
  background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0naHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmcnIHdpZHRoPSc4JyBoZWlnaHQ9JzgnPgogIDxyZWN0IHdpZHRoPSc4JyBoZWlnaHQ9JzgnIGZpbGw9JyNmZmYnLz4KICA8cGF0aCBkPSdNMCAwTDggOFpNOCAwTDAgOFonIHN0cm9rZS13aWR0aD0nMC41JyBzdHJva2U9JyNhYWEnLz4KPC9zdmc+Cg==");
  background-repeat: repeat;
}
#csvdata {
   display: none;
}
#taxTree{
	float:left;
}
#bpGraph{
	float:left;
}
#funcTree{
	float:left;
}
#navgraph{
	float:top;
}
#mainplot{
	width:100%;
	height:100%;
	vertical-align:top;
	font-family: "Verdana", Verdana, sans-serif;
}
#mainsvg {
	position:fixed;
	top:0;
	left:0;
	height:100%;
	width:100%;
	background-color:white;
	font-family: "Verdana", Verdana, sans-serif;
}
#plots_svg {
	position:fixed;
	top:0;
	left:0;
	height:100%;
	width:100%;
	background-color:white;
	font-family: "Verdana", Verdana, sans-serif;
}
#taxa_bar {
	background-color:white;
	font-family: "Verdana", Verdana, sans-serif;
}
#func_bar {
	background-color:white;
	font-family: "Verdana", Verdana, sans-serif;
}
#sidebar {
	z-index:5;
}
.noselect {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	//cursor:default;
}

.svgbutton {
	cursor: pointer;
}
.svgbutton:hover text {
//	opacity:0.5;
}
#sidebar_hide:hover {
	opacity:1;
}
#sidebar_hide {
	stroke:none;
}
#sidebar_hide rect {
	fill:#000066;
}
#sidebar_hide text {
	fill: white;
}
#sidebar_hide:hover rect {
	fill:#660066;
}
.tt { 
	position:relative;
}
.tt img {
	z-index:12;
}
.tt span{
	display:none; 
}
.tt > img:hover ~span.tooltip{
	display:block;
	position:absolute;
//	top:0px; left:0;
//	padding: 15px 0 0 0;
	width:400px;
	text-align: center;
//	filter: alpha(opacity:90);
//	KHTMLOpacity: 0.90;
//	MozOpacity: 0.90;
//	opacity: 0.90;
	z-index: 10;
}
.tt > img:hover ~span.tooltip span.blank{
	display:block;
	padding: 5px 8px 0;
}
.tt > img:hover ~span.tooltip span.content{
	text-align: left;
	display:block;
	padding: 5px 5px 5px 5px;
	background: #fff0ff;
	border-style: solid;
	border-width: 1px;
	border-color: #000000;
	margin-left: -20px;
	z-index: 10;
}
table.ExampleTable {
	border: 1px solid black;
	border-collapse: collapse;
	margin-top: 1em;
	margin-left: 1em;
	margin-bottom: 1em;
	margin-right: 1em;
}
table.ExampleTable th, table.ExampleTable td {
	border: 1px solid black;
	padding: 10px;
}
div#SaveInputDiv * {
	line-height: 100%;
	margin: 3px 0;
//	-webkit-margin-after: 0em;
//	-webkit-margin-before: 0em;
}
#saveFileNameInput {
	border: 2px solid black;
	border-radius: 2px;
	padding-left: 5px;
}
.savebutton rect {
	stroke:#ff6600;
	stroke-width:2;
	fill:#cc2900;
}
.savebutton text {
	fill:white;
}
.savebutton:hover rect {
	stroke-width:4;
	fill:#ff704d;
}
.savebutton:hover text {
	fill:black;
}
.savebutton:active rect {
	stroke-width:6;
	fill:#ffad99;
}
.savebutton:active text {
	fill:black;
}
.hidexp {
	display:none;
}
.hidbut {
	visibility:hidden;
}
white-space: pre-line;
