.loading_text {
	font-size: 180%;
	font-family: arial;
}

#upload_stepsG circle {
	stroke-width: 0;
}

.below_step {
	transform: translateY(calc(1vw + 0.75em));
}

.upload_steps .pending {
	fill: #9e9e9e;
}

.upload_steps .in_progress {
	fill: #4287ff;
}

.upload_steps .complete {
	fill: #4287ff;
}

.loading_bars .background_bar {
	fill: #9e9e9e;
}

.loading_bars .load_bar {
	fill: #4287ff;
}

.loading_bars .complete {
	fill: #4287ff;
	/*fill: #2aed51;*/
}