.loading_text {
	font-size: 180%;
	font-family: arial;
}

#upload_stepsG circle {
	r: 1vw;
	stroke-width: 0;
}

#upload_stepsG rect {
	height: 0.5vw;
	transform: translateY(-0.25vw);
}

.below_step {
	transform: translateY(calc(1vw + 0.75em));
}

.upload_steps .pending {
	fill: #9e9e9e;
}

.upload_steps .in_progress {
	fill: #4287ff;
}

.upload_steps .complete {
	fill: #4287ff;
}

#loading_barsG rect {
	height: 2.5vh;
	transform: translateY(-1.25vh);
}

.above_bar {
	transform: translateY(calc(-1.25vh + -0.75em));
}

.below_bar {
	transform: translateY(calc(1.25vh + 0.75em));
}

.loading_bars .background_bar {
	fill: #9e9e9e;
}

.loading_bars .load_bar {
	fill: #4287ff;
}

.loading_bars .complete {
	fill: #4287ff;
	/*fill: #2aed51;*/
}